<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%pagename%></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="styles.css" rel="stylesheet" />
      
    </head>
    <body id="page-top">
        <%-include('includes/nav')%>
               
        <!-- Register Section-->
        <section class="page-section" id="register">
            <div class="container">
                <div>&nbsp;</div>
                <!-- Register Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sign Up</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div>
                              </div>
                <!-- Register Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                    
                        <form style="text-align: center;">
                            <fieldset>
                                <legend>Registation Form</legend>
                            
                                    <div>
                                        <p>First Name:</p>
                                        <input type="text" 
                                            placeholder="firstname" 
                                            pattern="[a-zA-Z]+"
                                            maxlength="15"
                                            name="firstname"
                                            required
                                            data-sb-validations="required">
                                            <div class="invalid-feedback" data-sb-feedback="firstname:required">Can't be blank</div>

                                            <br>
                                            <p>Last Name:</p>
                                            <input type="text" 
                                            placeholder="lastname" 
                                            pattern="[a-zA-Z]+"
                                            maxlength="15"
                                            name="lastname"
                                            required
                                            data-sb-validations="required">
                                            <div class="invalid-feedback" data-sb-feedback="lastname:required">Can't be blank</div>

                                            <p>Address:</p>
                                            <input type="text" 
                                            placeholder="123 Main Street" 
                                            name="address"
                                            required>
                                            <p>City:</p>
                                            <input type="text" 
                                            placeholder="Atlanta" 
                                            name="city"
                                            required>
                                            <p>State:</p>
                                            <input type="text" 
                                            placeholder="GA" 
                                            name="state"
                                            required>
                                            <p>Zip:</p>
                                            <input type="text" 
                                            placeholder="000000" 
                                            name="zip"
                                            required>
                                    </div>
                                    <br>
                                    <div>
                                        <p>Email:</p>
                                            <input type="email" 
                                            placeholder="username@example.com"
                                            pattern= "(\w\.?)+@[\w\.-]+\.\w{2,}"
                                            name="email"
                                            required>
                                            <div class="invalid-feedback" data-sb-feedback="email:required">Can't be blank</div>

                                            <br>
                                            <p>Phonee:</p>
                                            <input type="text" 
                                            placeholder="phone"
                                            pattern = "\(?(\d{3})\)?[-\.\s]?(\d{3})[-\.\s]?(\d{4})"
                                            name="phone"
                                            required
                                            data-sb-validations="required">
                                            <div class="invalid-feedback" data-sb-feedback="phone:required">Can't be blank</div>

                                    </div>
                                    <br>
                                    <div>
                                        <p>Password(Alpha-numeric 6-20 characters):</p>
                                        <input type="password" 
                                            placeholder="password"
                                            pattern="[a-zA-Z][a-zA-Z0-9-_]{6,20}"
                                            name="password"
                                            required
                                            data-sb-validations="required">
                                            <br>
                                            <div class="invalid-feedback" data-sb-feedback="bio:required">Can't be blank</div>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="age">Age:</label>
                                        <select name="age" >
                                          <option value="18-24">18-24</option>
                                          <option value="25-36">25-36</option>
                                          <option value="37-48">37-48</option>
                                          <option value="49*">49+</option>
                                        </select>
                                        <br>
                                        <label>Gender:</label> 
                                        <br>
                                        <input type="radio">
                                          <label for="male">Male</label><br>
                                          <input type="radio">
                                          <label for="female">Female</label><br>
                                          <input type="radio">
                                          <label for="other">Other</label>
                                    </div>
                                    <br><br>
                                    <div>
                                        <label for="bio">Bio:</label>
                                        <textarea>
                                            Enter Bio...
                                        </textarea>
                                    </div>
                                      <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit" onclick="message()">Submit</button>
                                   
                                       <script>
                                function message (){
                                 if(document.getElementById("email").value && document.getElementById("password").value != null){
                                     document.getElementById("message").style.color="green"
                                        document.getElementById("message").innerHTML="Registration Successful!"
                                 }else{
        
                                      document.getElementById("message").style.color="red"
                                        document.getElementById("message").innerHTML="Registration Failed!"
                                   }
                                    }
                            </script>
                            </fieldset>
                        </form>
                    </div>  
                </div>
        </section>
        <%-include("includes/footer") %>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
      
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html> 